@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
:root {
  --bg-white: hsl(0, 0%, 100%);
  --bg-verydarkblue: hsl(216, 12%, 8%);
  --bg-darkblue: hsl(213, 19%, 18%);
  --circle-bg: hsla(216, 12%, 54%, 0.2);
  --bg-lightgray: hsl(216, 12%, 54%);
  --bg-mediumgray: hsl(216, 12%, 54%);
  --bg-orange: hsl(25, 97%, 53%);
}
*,
*::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
img {
  display: block;
  max-width: 100%;
}
button {
  font: inherit;
  cursor: pointer;
  border: none;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-white);
  background-color: var(--bg-verydarkblue);
  font-family: "Overpass", sans-serif;
}
.card {
  width: 450px;
  height: 465px;
  padding: 3.5rem 4rem 3.5rem 3rem;
  border-radius: 2.5rem;
  background-color: var(--bg-darkblue);
}
.star-img {
  width: 50px;
  height: 50px;
  margin-bottom: 4rem;
  border-radius: 50%;
  background-color: var(--circle-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card h1 {
  padding-bottom: 2rem;
  font-size: 3.2rem;
  font-weight: 700;
}
.card p {
  padding-bottom: 3rem;
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: var(--bg-mediumgray);
}
.ratings {
  display: flex;
  justify-content: space-between;
}
.ratings > div {
  width: 50px;
  height: 50px;
  font-size: 1.7rem;
  border-radius: 50%;
  background-color: var(--circle-bg);
  color: var(--bg-mediumgray);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ratings > div:hover {
  background-color: var(--bg-lightgray);
  color: var(--bg-white);
}
.ratings > div:focus {
  background-color: var(--bg-orange);
  color: var(--bg-white);
}
.ratings div:nth-of-type(5) {
  margin-right: 0;
}
button {
  width: 100%;
  margin: 3rem 0 0 0;
  padding: 1.3rem 0;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  border-radius: 1.5rem;
  background-color: var(--bg-orange);
  color: var(--bg-white);
}
button:hover {
  background-color: var(--bg-white);
  color: var(--bg-orange);
}
.rating-state {
  display: block;
}
.thankyou-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.illustration-img {
  padding: 2rem 0 2.5rem 0;
}
.illustration-img img {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.selection {
  width: 210px;
  margin: 0 auto 4rem auto;
  padding: 0.8rem;
  font-size: 1.6rem;
  background-color: var(--circle-bg);
  color: var(--bg-orange);
  border-radius: 2rem;
  text-align: center;
}
.heading,
.para {
  text-align: center;
}

@media screen and (max-width: 375px) {
  .card {
    width: 345px;
    height: 465px;
    padding: 3.5rem 2rem 3.5rem 2rem;
  }
  .card p {
    font-size: 1.5rem;
  }
  button {
    border-radius: 2rem;
  }
}
